body {
    background-color:#fcfcfd;
}

.wrapper {
    text-align: center;
    font-family: Segoe UI;    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

