body {
    background-color:#fcfcfd;
}

.wrapper {
    text-align: center;
    font-family: Segoe UI;    
}

img {
    /*width: 500px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

